<ol class="breadcrumb">
            <li>YOU ARE HERE</li>
            <li><a href="/jobposition#/list">Job Position</a></li>
            <li class="active">Edit Job Position</li>
</ol>
<h1 class="page-title">Edit Job Position</h1>
<section class="widget">
		<header>
			
		</header>
		<div class="widget-body">

			<form name="currForm" ng-submit="save(currForm.$valid)" novalidate>
				<fieldset>
					<div class="form-group">
						<label>Code</label>
						<input type="text" name="code" class="form-control" ng-model="input.code" placeholder="unique code here" autofocus required/>
						<p ng-show="currForm.code.$invalid && !currForm.code.$pristine" class="help-block">Code is required.</p>
					</div>
					<div class="form-group">
						<label>Name</label>
						<input type="text" name="name" class="form-control" ng-model="input.name" placeholder="display job position name here" required/>
						<p ng-show="currForm.name.$invalid && !currForm.name.$pristine" class="help-block">Name is required.</p>
					</div>
				</fieldset>
				<div>
					<button class="btn btn-primary">Save</button>
					<a ng-back class="btn btn-inverse">Cancel</a>
				</div>
			</form>

		</div>
			
</section>
