<ol class="breadcrumb">
            <li translate>YOU ARE HERE</li>
            <li class="active" translate>Job Position</li>
</ol>
<h1 class="page-title" translate>Job Position</h1>
<section class="widget">
    <header>
        <a href="#/add" class="btn btn-primary" translate>Add New Job</a>
    </header>
    <div class="widget-body">

		<table class="table table-hover table-lg mt-lg mb-0 .widget-table-overflow">
			<thead>
				<tr>
					<th translate>Code</th>
					<th style="width: 70%" translate>Name</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in list">
					<td>{{ item.lov_key }}</td>
					<td>{{ item.lov_value }}</td>
					<td>
						<a class="btn btn-info" href="#/edit/{{ item.id }}" ><i class="fa fa-edit fa-pad"></i><translate>Edit</translate></a>
						<a class="btn btn-danger" href ng-click="remove(item)"><i class="fa fa-trash fa-pad"></i><translate>Remove</translate></a>
					</td>
				</tr>
			</tbody>
		</table>

    </div>   
</section>