<ol class="breadcrumb">
            <li>YOU ARE HERE</li>
            <li><a href="/employee#/list">Employee List</a></li>
            <li class="active">Edit Employee</li>
</ol>
<h1 class="page-title">Edit Employee</h1>
<section class="widget">
		<header>
			<div class="widget-controls">* required</div>
		</header>
		<div class="widget-body row">

				<form name="currForm" ng-submit="save(currForm.$valid)" novalidate class="form-horizontal" role="form">
					<div class="col-sm-8">
						<fieldset>
							<legend>Main Profile</legend>
							<div class="form-group">
								<label class="col-sm-3 control-label">Employee ID *</label>
								<div class="col-sm-8">
									<input type="text" name="code" class="form-control" ng-model="input.code" placeholder="Unique employee ID" autofocus required style="width: 200px"/>
									<p ng-show="currForm.code.$invalid && !currForm.code.$pristine" class="help-block">Code is required.</p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Full Name *</label>
								<div class="col-sm-8">
									<input type="text" name="full_name" class="form-control" ng-model="input.full_name" required/>
									<p ng-show="currForm.full_name.$invalid && !currForm.full_name.$pristine" class="help-block">Name is required.</p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Nick Name</label>
								<div class="col-sm-8">
									<input type="text" name="nick_name" class="form-control" ng-model="input.nick_name" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Other Name</label>
								<div class="col-sm-8">
									<input type="text" name="other_name" class="form-control" ng-model="input.other_name" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Job Position *</label>
								<div class="col-sm-8">
									<select name="job_position" class="form-control select2" ng-model="input.job_position" disabled>
										<option value="">Choose one</option>
										<option ng-repeat="job in job_position_list" value="{{ job.lov_key }}">{{ job.lov_value }}</option>
									</select>
									<span class="help-block">Job Position cannot be changed here. You will need to go <a href="/changejob">Change Job</a></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Gender</label>
								<div class="col-sm-8">
									<div class="radio">
	                                   <input type="radio" name="gender" id="gender" value="M" ng-checked="input.gender=='M'">
	                                   <label for="gender">Male</label>
	                                </div>
									<div class="radio">
	                                   <input type="radio" name="gender" id="gender" value="F" ng-checked="input.gender=='F'">
	                                   <label for="gender">Female</label>
	                                </div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Date of Birth
									<span class="help-block">Format MM/DD/YYYY</span>
								</label>
								<div class="col-sm-8">
									<input id="dob" type="text" name="dob" class="form-control" ng-model="input.dob" />
								</div>
							</div>
						</fieldset>
						<fieldset>
							<legend>Current Address</legend>
							<div class="form-group">
								<label class="col-sm-3 control-label">Address Line 1</label>
								<div class="col-sm-8">
									<input type="text" name="current_address_line1" class="form-control" ng-model="input.current_address_line1" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Address Line 2</label>
								<div class="col-sm-8">
									<input type="text" name="current_address_line2" class="form-control" ng-model="input.current_address_line2" />
								</div>
							</div>
						</fieldset>
						<fieldset>
							<legend>Permanent Address</legend>
							<div class="form-group">
								<label class="col-sm-3 control-label">Address Line 1</label>
								<div class="col-sm-8">
									<input type="text" name="permanent_address_line1" class="form-control" ng-model="input.permanent_address_line1" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Address Line 2</label>
								<div class="col-sm-8">
									<input type="text" name="permanent_address_line2" class="form-control" ng-model="input.permanent_address_line2" />
								</div>
							</div>
						</fieldset>
						<fieldset>
							<legend>Contact Information</legend>
							<div class="form-group">
								<label class="col-sm-3 control-label"><i class="fa fa-envelope-o"></i>  Email</label>
								<div class="col-sm-8">
									<input type="text" name="email" class="form-control" ng-model="input.email" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label"><i class="fa fa-phone"></i>  Phone 1</label>
								<div class="col-sm-8">
									<input type="text" name="phone1" class="form-control" ng-model="input.phone1" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label"><i class="fa fa-phone"></i>  Phone 2</label>
								<div class="col-sm-8">
									<input type="text" name="phone2" class="form-control" ng-model="input.phone2" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label"><i class="fa fa-mobile"></i>  Mobile Phone 1</label>
								<div class="col-sm-8">
									<input type="text" name="mobile_phone1" class="form-control" ng-model="input.mobile_phone1" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label"><i class="fa fa-mobile"></i>  Mobile Phone 2</label>
								<div class="col-sm-8">
									<input type="text" name="mobile_phone2" class="form-control" ng-model="input.mobile_phone2" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label"><img src="/img/btn_bb.png" /> BB PIN</label>
								<div class="col-sm-8">
									<input type="text" name="bb_pin" class="form-control" ng-model="input.bb_pin" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label"><img src="/img/line_icon.png" /> LINE</label>
								<div class="col-sm-8">
									<input type="text" name="line_no" class="form-control" ng-model="input.line_no" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Remark</label>
								<div class="col-sm-8">
									<textarea rows="3" class="autogrow form-control transition-height" id="elastic-textarea" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 114px;" ng-model="input.remark"></textarea>

								</div>
							</div>
						</fieldset>
						<div>
							<div class="row">
								<div class="col-sm-offset-3 col-sm-8">
	    	                            <button class="btn btn-primary">Save</button>
	        	                        <a ng-back class="btn btn-inverse">Cancel</a>
	            	            </div>
							</div>	
						</div>

					</div>
					<div class="col-sm-4">
							<fieldset>
								<legend>Photo</legend>
								<div class="form-group">
	                                    <label class="control-label col-sm-3" for="fileupload1">
	                                        Profile photo
	                                    </label>
	                                    <div class="col-sm-8">
	                                        <div class="fileinput fileinput-new" data-provides="fileinput">
	                                            <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
	                                                <img data-src="holder.js/100%x100%" alt="100%x100%" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTkwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE5MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MTAwJQpDcmVhdGVkIHdpdGggSG9sZGVyLmpzIDIuNS4wLgpMZWFybiBtb3JlIGF0IGh0dHA6Ly9ob2xkZXJqcy5jb20KKGMpIDIwMTItMjAxNSBJdmFuIE1hbG9waW5za3kgLSBodHRwOi8vaW1za3kuY28KLS0+PGRlZnMvPjxyZWN0IHdpZHRoPSIxOTAiIGhlaWdodD0iMTQwIiBmaWxsPSIjRUVFRUVFIi8+PGc+PHRleHQgeD0iNjkuMDQ2ODc1IiB5PSI3MCIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE5MHgxNDA8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true" style="height: 100%; width: 100%; display: block;">
	                                            </div>
	                                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
	                                            <div>
	                                                <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span>
	                                                
	                                                <input id="file" type="file" name="...">
	                                                
	                                                </span>
	                                                <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
	                                            </div>
	                                        </div>
	                                        <span class="help-block">Showing a thumbnail instead of the filename when uploading an image.</span>
	                                    </div>
	                        	</div>
	                        </fieldset>
					</div>
					<input type="hidden" id="main_photo" />
				</form>
		</div>
</section>
