<ol class="breadcrumb">
            <li>YOU ARE HERE</li>
            <li class="active">Employee List</li>
</ol>
<h1 class="page-title">Employee</h1>
<section class="widget">
    <header>
        <a href="#/add" class="btn btn-primary">Add New Employee</a>
    </header>
    <div class="widget-body">

		<table class="table table-hover table-lg mt-lg mb-0 .widget-table-overflow">
			<thead>
				<tr>
					<th>Code</th>
					<th>Name</th>
					<th>Job Position</th>
					<th>Contact</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in list">
					<td>{{ item.code }}</td>
					<td>{{ item.full_name }}</td>
					<td>{{ item.job_position_name }}</td>
					<td>
						 <ul class="default-list">
						 	<li><i class="fa fa-envelope-o"></i> <a ng-href="{{ 'mailto:' + item.email }}">{{ item.email }}</a></li>	
						 	<li><i class="fa fa-phone"></i> {{ item.phone1 }} <span ng-if="item.phone2">,{{ item.phone2 }}</span> </li>	
						 	<li><i class="fa fa-mobile"></i> {{ item.mobile_phone1 }} <span ng-if="item.mobile_phone2">,{{ item.mobile_phone2 }}</span> </li>	
						 </ul>
					</td>
					<td>
						<a class="btn btn-info" href="#/edit/{{ item.id }}" ><i class="fa fa-edit fa-pad"></i> Edit</a>
						<a class="btn btn-danger" href ng-click="remove(item)"><i class="fa fa-trash fa-pad"></i> Remove</a>
						<a class="btn btn-success" href="#/more/{{ item.id }}"><i class="fa fa-info fa-pad"></i> More Data</a>
					</td>
				</tr>
			</tbody>
		</table>

    </div>   
</section>