	                <ul id="employee_info_nav" class="nav nav-pills nav-stacked nav-email-folders mt">
	                    <li id="jobexp"><a href="#/more/{{input.employee_id}}">Job Experiences</a></li>
	                    <li id="education"><a href="#/more/{{input.employee_id}}/education">Education History</a></li>
	                    <li id="skills"><a href="#/more/{{input.employee_id}}/skills">Skills</a></li>
	                    <li id="lang"><a href="#/more/{{input.employee_id}}/lang">Languages</a></li>
	                    <li id="interest"><a href="#/more/{{input.employee_id}}/interest">Hobby &amp; Interests</a></li>
	                    <li id="disease"><a href="#/more/{{input.employee_id}}/disease">Special Diseases</a></li>
	                    <li id="emergency"><a href="#/more/{{input.employee_id}}/emergency">Emergency Contact</a></li>
	                </ul>
