<ol class="breadcrumb">
            <li>YOU ARE HERE</li>
            <li><a href="/employee#/list">Employee List</a></li>
            <li class="active">More Employee Info</li>
</ol>
<h1 class="page-title">More Employee Info</h1>
<section class="widget">
		<header>
			
		</header>
		<div class="widget-body row">
			<div class="row">
	            <div class="col-md-4 col-lg-3" ng-include src="'templates/employee/more-navigation.html'">

	            </div>
	            <div class="col-md-7 col-lg-8">
					
					<form name="form_input" ng-submit="add()">
						<div class="form-group">
							<label>Disease Name</label>
							<input id="disease_name" type="text" ng-model="input.disease_name" placeholder="Type disease name here" class="form-control" 		autofocus required />
						</div>
						<div class="form-group">
							<label>Remark</label>
							<textarea ng-model="input.remark" placeholder="Describe more about it" class="form-control" required></textarea>
						</div>
						<button class="btn btn-primary">Save</button>
					</form>

					<div class="row">
						<div class="col-md-12 widget">
							<table  class="table table-hover table-lg mt-lg mb-0 .widget-table-overflow">
								<thead>
									<tr>
										<th class="col-md-4">Disease Name</th>
										<th class="col-md-8">Remark</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-if="list.length==0">
										<td colspan="2">No entry found</td>
									</tr>
									<tr ng-repeat="item in list">
										<td>{{ item.disease_name }} <a href ng-click="remove(item)"><i class="fa fa-close"></i></a></td>
										<td>{{ item.remark }}</td>
									</tr>
								</tbody>
							</table>	
						</div>
					</div>

	            </div>
            </div>
		</div>
</section>		