<ol class="breadcrumb">
            <li>YOU ARE HERE</li>
            <li><a href="/employee#/list">Employee List</a></li>
            <li class="active">More Employee Info</li>
</ol>
<h1 class="page-title">More Employee Info</h1>
<section class="widget">
		<header>
			
		</header>
		<div class="widget-body row">
			<div class="row">
	            <div class="col-md-4 col-lg-3" ng-include src="'templates/employee/more-navigation.html'">

	            </div>
	            <div class="col-md-7 col-lg-8">
					
					<form name="form_input" ng-submit="add()">
						<div class="form-group">
							<label>Contact Person Name</label>
							<input id="emergency_contact_person" type="text" ng-model="input.emergency_contact_person" placeholder="Type contact person name here" class="form-control" 		autofocus required />
						</div>
						<div class="form-group">
							<label>What is your relation with him/her ?</label>
							<input id="emergency_person_relation" type="text" ng-model="input.emergency_person_relation" placeholder="Your relation here" class="form-control" required />
						</div>
						<div class="form-group">
							<label>Contact Person Phone Number</label>
							<input id="emergency_person_phone" type="text" ng-model="input.emergency_person_phone" placeholder="Emergency contact phone number" class="form-control" required />
						</div>
						<button class="btn btn-primary">Save</button>
					</form>

					<div class="row">
						<div class="col-md-12 widget">
							<table  class="table table-hover table-lg mt-lg mb-0 .widget-table-overflow">
								<thead>
									<tr>
										<th class="col-md-4">Contact Person</th>
										<th class="col-md-4">Relation</th>
										<th class="col-md-4">Phone Number</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-if="list.length==0">
										<td colspan="3">No entry found</td>
									</tr>
									<tr ng-repeat="item in list">
										<td>{{ item.emergency_contact_person }} <a href ng-click="remove(item)"><i class="fa fa-close"></i></a></td>
										<td>{{ item.emergency_person_relation }}</td>
										<td>{{ item.emergency_person_phone }}</td>
									</tr>
								</tbody>
							</table>	
						</div>
					</div>

	            </div>
            </div>
		</div>
</section>		