<ol class="breadcrumb">
            <li>YOU ARE HERE</li>
            <li><a href="/employee#/list">Employee List</a></li>
            <li class="active">More Employee Info</li>
</ol>
<h1 class="page-title">More Employee Info</h1>
<section class="widget">
		<header>
			
		</header>
		<div class="widget-body row">
			<div class="row">
	            <div class="col-md-3 col-lg-2" ng-include src="'templates/employee/more-navigation.html'">

	            </div>
	            <div class="col-md-9 col-lg-10">
					
					TODO EDUCATION

	            </div>
            </div>
		</div>
</section>		