<ol class="breadcrumb">
            <li>YOU ARE HERE</li>
            <li><a href="/employee#/list">Employee List</a></li>
            <li class="active">More Employee Info</li>
</ol>
<h1 class="page-title">More Employee Info</h1>
<section class="widget">
		<header>
			
		</header>
		<div class="widget-body row">
			<div class="row">
	            <div class="col-md-4 col-lg-3" ng-include src="'templates/employee/more-navigation.html'">

	            </div>
	            <div class="col-md-7 col-lg-8">
					
					<form name="form_input" ng-submit="add()">
						<input type="text" ng-model="input.interest_name" placeholder="type your hobby/interest here" class="form-control" autofocus required />
					</form>

					<div class="row">
						<div class="col-md-6 widget">
							<ul class="default-list">
								<li ng-if="list.length==0">No entry found</li>
								<li ng-repeat="item in list">{{ item.interest_name }} <a href ng-click="remove(item)"><i class="fa fa-close"></i></a></li>
							</ul>
						</div>
					</div>
	            </div>
            </div>
		</div>
</section>		